/* body css */
body{
  font-family: "Fantasy"
  
}
/* input setup */
input[type="text"]{
  height: 45px;
  width: 580px;
  backround: powderblue;
  font-family: "Fantasy";
  font-size: 20px;
.input{
  text-align: center;
  margin: 100px 0;
}
